*{
    margin: 0px;
    padding: 0px ; 
    font-family: 'Roboto';
}

.header{
    height: 94vh;
    width: 100%;
    /* background:linear-gradient(to right,#000000, #1107fe ); */
    /* background-color: #192734 !important; */
    background: linear-gradient(301.28deg, #00C2FF 54.38%, rgba(0, 255, 224, 0) 100%), linear-gradient(129.96deg, #FF2F2F 10.43%, #000460 92.78%), radial-gradient(100% 246.94% at 100% 0%, #8000FF 0%, #BA75FF 54.17%, #FF0000 100%), linear-gradient(58.72deg, #2200F2 0%, #530000 100%), linear-gradient(154.03deg, #FF0000 0%, #00FF94 74.04%), linear-gradient(301.27deg, #FF0000 0%, #0038FF 84.63%), linear-gradient(136.23deg, #00C2FF 11.12%, #FF0000 86.47%), radial-gradient(57.37% 100% at 50% 0%, #B50000 0%, #0034BB 100%);
background-blend-mode: multiply, overlay, color-burn, screen, difference, difference, difference, normal;
    /* background-image: linear-gradient(rgba(50,9,4,1),rgba(4,9,50,1)),url('../main_img/main1.jpg') !important; */
    position: relative;
    background-size: cover;
    background-position: center;
}

/* navbar style */
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: whitesmoke;
    font-size: 20px;
}
.logo a{
    color: white;
    text-decoration: none;
}
.logo a:hover{
    color: #a1e1fa;
    transition: 1s;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link li {
    display: inline-block;
    list-style-type: none;
    position: relative;
    padding: 8px 12px;
    margin-right: 20px;
    
}
.nav-link li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    transition: 0.8s;
}

.nav-link ul li a:hover{
    color: #a1e1fa;
}


.fa-regular{
    position: absolute !important;
    top: -40px !important;
}
.fa-solid{
    z-index: -1;
} 

@media(max-width : 700px){
    
.info h1{
    font-size: 34px !important;
}
.info p{
    font-size: 14px;
}


.nav-link ul li{
    display: block;
    margin-bottom: 10px;
}

.nav-link{
    position: absolute;
    background: linear-gradient(rgba(50,9,4,0.7),rgba(4,9,50,0.7));
    width: 50%;
    height: 100vh;
    top: 0;
    right: -500px;
    text-align: center;
    z-index: 1;
    transition:1s;
}

.nav-link ul li:hover::after{
    width: 0%;
}

nav .fa-regular{
    color: #fff;
    display: block;
    z-index: 3;
    position: absolute;
    right: 25px;
    top: 17px;
}
nav .fa-solid{
    color: #fff;
    z-index: 0;
    position: absolute;
    right: 25px;
    top: 17px;
}

.nav-link ul{
    padding: 50px;
}
}

/* txt */
.info{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-59%);
    text-align: left;
}

.info{
    margin-left: 70px;
}

.info h1{
    font-size: 48px;
}

.info p{
    margin: 10px 0px 30px;
    font-size: 16px;
}

/* txt btn */
.text-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff !important;
    width: 150px;
    padding: 10px 10px;
    border-radius: 25px;
    background:linear-gradient(to right,#00e0fe, #1107fe);
    
    position: relative;
    text-align: center;
    font-weight: 500;
}

.text-btn:hover{
    transition: 1s;
}

@media(max-width : 700px){
    .info{
        margin:0px 5px 0px 5px;
    }
}

/* course */

.course{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    /* background-color: #fff; */
    /* background-image: url(../img/nami.png); */
    background-color: #ECF0F1;
}

.course a{
    color: black;
    text-decoration: none;
}

.course h1{
    font-size: 36px;
    font-weight: 600;
}

.course p{
    font-size: 14px;
    font-weight: 400;
    line-height:22px;
    padding: 10px;
}

.row{
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    background-color: white;

    /* border: 1px solid black; */
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
}
.col:hover{
    box-shadow: 5px 14px 30px -3px rgba(0,0,0,0.39);
    -webkit-box-shadow: 5px 14px 30px -3px rgba(0,0,0,0.39);
    -moz-box-shadow: 5px 14px 30px -3px rgba(0,0,0,0.39);
}

@media(max-width  :700px){
    .row{
        flex-direction: column;
    }
}

.media{
    box-sizing: content-box;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.img-media{
    flex-basis: 18%;
    border-radius: 10px;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
    transition: 1s;
}

.img-media img{
    width: 100%;
    }

.layer{
    background: transparent;
    position: absolute;
    width: 100%;height: 100%;
    bottom: 0;
    left: 0;
}
.img-media:hover{ 
    transform: scale(1.1);
    
    box-shadow: 5px 14px 30px -3px rgba(0,0,0,0.39);
    -webkit-box-shadow: 5px 14px 30px -3px rgba(0,0,0,0.39);
    -moz-box-shadow: 5px 14px 30px -3px rgba(0,0,0,0.39);
}
@media(max-width:700px){
    .img-media{
        flex-basis: 10%;
    }
    .img-media:hover{
        transform: scale(0.9);
    }
}
.clear{
    clear: both;
}

/* about */
.about{
    width: 100%;
    height: 50vh;
    background-color: white;
    position: relative;
    padding-top: 10vh;
}

.main-about{
    text-align: center;
    margin: auto;
    position: relative;
}

.main-about h1{
    color: midnightblue;
    font-weight: 700px;
    margin-bottom: 10px;
}
/* about */
@media(max-width:700px){
.img-about img{
    width: 120px;
    margin-left: 30px;
    margin-top: 130px;
    flex-direction: column;
}
.main-about h1{
    font-size: 20px;
}
.main-about{
    font-size: 13px;
    top: 90px;
    left: 160px;
    margin: 0;
}
}

.footer{
    background:linear-gradient(rgba(50,9,4,0.7),rgba(4,9,50,0.7));
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.content-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.content-footer h3{
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.content-footer p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem 3rem 0rem;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
}

.socials a:hover i{
    color: #a1e1fa;
}

.main-footer{
    background-color: #111;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.main-footer{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.main-footer span{
    color: #a1e1fa;
    opacity: .4;
    font-weight: 700;
}

/* new css */
  
  .carousel-caption {
    border-top: 10px solid black;
    background-color: #00000094;
  }
  
  .vh-50 {
    height: 50vh;
  }
  
  .primary {
    color: #111;
  }
  
  .active {
    color: black !important;
  }
  
  .about-us-title {
    font-size: 50px;
  }
  
  .about-us-subtitle {
    font-size: 28px;
  }
  
  .card-icon {
    transition: 0.5s;
  }
  
  .card-icon:hover {
    color: black;
  }
  .mansory-sizer,
  .mansory-item {
    width: 30% ;
  }

  .mansory-item{
    border-radius: 10px;
  }
  
  .brand-image {
    width: 50%;
    object-fit: cover;
    filter: grayscale(1);
    transition: 0.5s;
  }
  
  .brand-image:hover {
    filter: grayscale(0);
    transform: scale(1.2);
  }
  
  a {
    color: white;
  }
  
  .btn-subscribe,
  .btn-to-top {
    background: black;
  }
  
  .btn-to-top {
    display: inline;
    position: fixed;
    right: 15px;
    bottom: 15px;
  }

  .teams{
    height:100vh !important;
  }

  .services{
    height:100vh !important;
  }
  
  .bg-darker {
    background: #111;
  }
  
  .portfolio-filters li {
    transition: 0.5s;
    cursor: pointer;
  }
  
  .portfolio-filters .filter-active,
  .breadcumbs {
    background: black;
  }
  
  .breadcumbs {
    margin-top: 72px;
  }
  
  .breadcumbs ol li + li::before {
    display: inline-block;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    content: "/";
  }
  
  .card-img-top {
    height: 400px;
    object-fit: cover;
  }
  
  .img-testimonial {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  
  .testimonial-item .card-body h4 {
    font-size: 18px;
  }
  
  .btn-submit {
    background: black;
    color: white;
  }
  
  @media (max-width: 768px) {
    .mansory-sizer,
    .mansory-item {
      width: 40%;
    }
  }
  @media (max-width: 576px) {
    .mansory-sizer,
    .mansory-item {
      width: 100%;
    }
  }

  .dropdown-menu{
   background-color: white;
    box-shadow: 5px 14px 30px -3px rgba(0,0,0,0.39);
    -webkit-box-shadow: 5px 14px 30px -3px rgba(0,0,0,0.39);
    -moz-box-shadow: 5px 14px 30px -3px rgba(0,0,0,0.39);
    text-align: center;
  }

  .dropdown-menu:link{
    color: #00e0fe !important;
  }

  .dropdown-item{
    color:black !important;
  }

  .mansory-item img{
    border-radius: 10px;
    display: flex;
    flex-basis:31%;
  }
  